@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.catalog {
    font-family: Arial, sans-serif;
    color: #fcf7f7;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.catalog h1 {
    color: rgb(8, 8, 8);
    margin-bottom: 32px;
}

.machine-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.quantity-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
}

.quantity-selector button {
    background-color: #04f83d;
    color: blueviolet;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.quantity-selector button:hover {
    background-color: #00ff37;
}

.quantity-selector span {
    margin: 16px;
    font-size: 20px;
    font-weight: bold;
    color: #000; 
}

.catalog-filter {
    color: #0d24a7;
    margin-bottom: 12px;
}

.catalog .catalog-filter button{
    margin-right: 5px;
}
