@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.navbar {
    background-color: #FFAD00;
}

.navbar-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 80px;
    margin: 0 auto;
}

.search-bar {
    display: inline;
}

